*,
html {
  margin: 0;
  padding: 0
}

body,
html {
  overflow-x: hidden;
  max-width: 100vw
}

* {
  box-sizing: border-box
}

html {
  background-color: #e1e5e8;
  width: 100vw !important;
  font-family: sans-serif
}

h1,
h2 {
  font-family: 'Bebas Neue', sans-serif
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/fonts/Bebas_Neue/BebasNeue-Regular.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto/static/Roboto-Regular.woff2") format("woff2");
  font-display: swap
}

.fonts-loaded body {
  font-family: 'Bebas Neue', Roboto, sans-serif
}

h1 {
  letter-spacing: .1em
}

h2 {
  font-size: 3rem;
  letter-spacing: .05em
}

a,
h3 {
  font-family: Roboto, sans-serif
}

h3 {
  font-size: 1.3rem
}

a {
  color: #1a1d9e;
  min-height: 1.2rem;
  padding: .5em
}

.nav-links a,
.sct-btn,
nav,
nav ul li a {
  color: #fff
}

body {
  font-family: Roboto, Arial, sans-serif
}

p {
  font-family: Roboto, sans-serif;
  letter-spacing: .02em
}

main {
  min-height: 115vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center
}

img {
  display: block;
  width: 100%
}

#nav {
  min-height: 60px
}

#footer {
  min-height: 200px
}

.article-list,
.article-page,
.category-page,
.privacy-page {
  margin: 0 auto;
  border-radius: 3em
}

.link a,
.sct-btn .link a {
  color: #1a1d9e;
  transition: color .3s
}

.nav-links a,
nav ul li a {
  text-decoration: none;
  font-weight: 700
}

.menu-toggle img,
.sct-btn,
html,
img {
  height: auto
}

.link a::after,
.sct-btn .link a::after,
.video-box-text:hover::after {
  background: #fe0000;
  position: absolute
}

.bio-name,
.minus-sign,
.plus-sign,
.toggle-btn {
  transform: translateX(-50%)
}

.channel a h3::after,
.link a::after,
.sct-btn .link a::after {
  bottom: -5px;
  transform: scaleX(0)
}

.privacy-page li,
nav ul li {
  list-style-type: none
}

.call2action-grid2,
.call2action-grid4,
footer {
  grid-template-rows: repeat(2, 1fr)
}

.article-color1,
.box-color1 {
  background-color: #d8d9c7
}

.article-color2,
.box-color2 {
  background-color: #b2c9e2
}

.article-color3,
.box-color3 {
  background-color: #c4d6b6
}

.article {
  padding: 3em
}

.category-article {
  padding: 6em 0
}

.article-list {
  width: 75%;
  padding: 2em 0
}

.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 2em;
  min-height: 100vh
}

.article-page,
.privacy-page {
  width: 75%;
  padding: 2em 4em
}

.article-title h1,
.privacy-page h1 {
  padding: 1.5em 0 .5em;
  font-size: 4rem
}

.input-texth2 h2,
.sct-btn,
.sct-btn .link a {
  font-size: 1rem
}

.call2action-side1,
.collections-box,
.guidelines-bottom p,
nav ul li {
  padding: 1em 0
}

.toggle-btn {
  position: absolute;
  left: 50%;
  bottom: 5%;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3
}

.bio-img,
.biography,
.link a,
.sct-btn .link a,
.video-box-text {
  position: relative
}

.button,
.hero-buttons {
  display: inline-block;
  padding: .75em 1.5em;
  font-size: 1rem;
  color: #fff;
  background-color: #1a1d9e;
  border: none;
  border-radius: .3125em;
  transition: background-color .3s, transform .2s
}

.nav-links,
.sct-btn,
.sports-hub-btn,
nav,
nav ul {
  display: flex
}

.video-styled,
.youtube-facade-all {
  background-color: #000;
  overflow: hidden;
  position: relative
}

.bio-img::before,
.sct-btn {
  transition: background .3s
}

.button:hover {
  background-color: gray;
  transform: translateY(-2px);
  border: 1.5px solid #1a1d9e
}

.call2action-buttons a:hover,
.hero-button:hover,
nav.scrolled {
  background-color: #fe0000
}

.hero-button:hover {
  border: 1.5px solid #000;
  transform: translateY(-2px)
}

.button:active {
  transform: translateY(0)
}

.sct-btn {
  justify-content: center;
  align-items: center;
  margin-top: 1em
}

.home-btn {
  padding: 1em
}

.sports-hub-btn {
  justify-content: flex-start;
  padding: 6em 0 2em;
  gap: 1em
}

.channel a h3::after,
.link a::after,
.sct-btn .link a::after,
.video-box-text:hover::after {
  content: '';
  height: 3px;
  transition: transform .3s
}

.bottom-nav ul li a:focus,
.bottom-nav ul li a:hover,
.channel a h3:focus,
.channel a h3:hover,
.footer-col ul li a:focus,
.footer-col ul li a:hover,
.link a:focus,
.link a:hover,
.privacy-page li a:focus,
.privacy-page li a:hover,
.sct-btn .link a:hover,
.video-box-text:hover {
  color: #fe0000
}

.link a::after,
.sct-btn .link a::after {
  left: 0;
  width: 100%
}

.bottom-nav ul li a:focus,
.bottom-nav ul li a:hover,
.channel a h3:focus::after,
.channel a h3:hover::after,
.footer-col ul li a:focus,
.footer-col ul li a:hover,
.link a:hover::after,
.sct-btn .link a:hover::after {
  transform: scaleX(1)
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .2s ease-in-out, border-bottom .2s;
}

nav.scrolled {
  border-bottom: .08em solid #000;
}

.nav-links li {
  margin: 0 1em;
}

nav ul {
  flex-direction: row;
  margin-left: 0;
}

nav ul li :hover {
  text-decoration: underline;
}

#nav-menu.nav-links.nav-menu {
  min-height: 50px;
}

.logo-container {
  width: 330px;
  max-width: 330px;
  min-width: 100px;
}

.logo-container img {
  width: 100%;
  height: auto;
  max-height: 80px;
}

nav img {
  height: 100%;
  width: auto
}

.search-container {
  display: flex;
  text-align: right;
  align-items: last baseline;
  width: 13vw
}

.search-container input {
  width: 100%;
  border-radius: 1.5em;
  padding: .2em .3em
}

.box1-211 h2,
.box1-211 h3,
.section-heading h2 {
  padding-bottom: .5em
}

.menu-toggle {
  align-items: center;
  justify-content: center
}

.menu-toggle img {
  width: 5vw
}

.hamburger-icon,
.menu-toggle,
.stay-updated-icon,
.uploads-icon {
  width: 40px;
  height: 40px;
  display: inline-block
}

.blog-hero-section,
.single-video {
  max-width: 100vw
}

.hero-section {
  height: auto;
  width: 100%;
  display: flex
}

.hero-section img {
  width: 100%;
  height: auto;
  object-position: center top
}

.video-box-text {
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: auto;
  color: #1a1d9e;
  text-decoration: none
}

.video-box-text h3 {
  font-size: 1.5rem;
  color: #1a1d9e;
  text-transform: uppercase;
  text-align: center
}

.bio-name2 p,
.bio-name3 p {
  font-optical-sizing: auto;
  font-size: 1.3rem
}

.video-box-text h3:hover {
  color: red;
  transition: color .3s ease-in-out
}

.video-styled {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center
}

.video-styled img,
.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block
}

.youtube-facade img,
.youtube-facade-all img {
  height: auto;
  width: 100%;
  aspect-ratio: 16/9
}

.youtube-facade {
  width: 100%;
  height: 100%
}

.youtube-facade img {
  display: block
}

.youtube-facade-all {
  display: block;
  width: 100%;
  width: 320px;
  height: 270px;
  max-width: 560px;
  aspect-ratio: 16/9
}

.video-grid,
.video-grid-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.youtube-facade-all iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block
}

.channel-info a,
.channel-info p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  text-overflow: ellipsis
}

.video-styled .play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: url("https://res.cloudinary.com/dnptzisuf/image/upload/fl_attachment,fl_lossy,q_auto,c_fill,w_50,h_50,/v1738094189/play-icon_s7jgug.svg") center/contain no-repeat;
  pointer-events: none
}

.video-grid-collections {
  gap: 1.5em;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  padding: 0 1.5em;
  min-height: auto
}

.video-grid {
  gap: 1rem;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  height: 382px;
  max-width: 100%
}

.video-grid img {
  width: 100%;
  height: 338px;
  aspect-ratio: 16/9
}

.box2-2grid-video .youtube-facade {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.channel-info p {
  max-width: 50%;
  width: 50%;
  margin: 0 auto
}

.channel-info a,
.popular-videos a {
  display: block;
  word-wrap: break-word;
  text-overflow: ellipsis
}

.bio-name2 p,
.bio-name3 p,
.bio-name4 p {
  font-style: normal;
  margin: 0;
  width: 100%;
  font-weight: 700
}

.channel-info a {
  max-width: 100%;
  overflow: hidden
}

.channel-info p img {
  width: 50px
}

.youtube-channel {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: left;
  max-width: 900px;
  margin: 1.5em 0;
  padding: 1em;
  background: #f2f2f2;
  border-radius: 8px
}

.account-form a,
.biography,
.form-buttons a,
.sct-btn,
.section-heading,
.video-box-text {
  text-align: center
}

.sct-btn {
  padding: .5em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center
}

.channel a h3,
.video-box-text {
  display: inline-block;
  transition: color .3s
}

.sct-btn.channel-btn {
  width: 100%;
  max-width: 320px;
  padding: .75em;
  display: flex;
  justify-content: center;
  align-items: center
}

.popular-videos a {
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%
}

.channel-info,
.collections-text {
  max-width: 100%;
  width: 100%;
  overflow: hidden
}

.video-box-text:hover::after {
  left: 0;
  bottom: -2px;
  width: 100%;
  transform: scaleX(1)
}

.biography-section {
  display: flex;
  padding: 5em 0;
  max-width: 80%;
  margin: 5em auto;
  transition: .3s
}

.biography {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  flex: 1;
  transition: flex .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .2)
}

.box2-2grid-video,
.collections-box iframe,
.hero-img-collection img {
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px 4px
}

#biography {
  justify-content: space-between
}

.bio-img {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  min-height: 200px
}

.bio-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(31, 31, 31, .6) 0, rgba(68, 67, 67, .4) 100%);
  z-index: 1
}

.bio-img img {
  width: 100%;
  height: 100%;
  transition: filter .3s;
  object-fit: cover;
  aspect-ratio: 3/2
}

.biography:hover .bio-img::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .4) 100%)
}

.biography:hover .bio-img img {
  filter: brightness(.5)
}

.biography.expanded {
  flex: 4
}

.biography:not(.expanded) {
  flex: 1
}

#bio1 {
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em
}

#bio4 {
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em
}

.bio-name {
  position: absolute;
  bottom: 18%;
  left: 50%;
  padding: .5em;
  z-index: 2
}

.box1-211 h3,
.category-buttons1 {
  padding-top: 1em
}

.bio-name.hidden,
.biography.expanded .bio-name {
  display: none
}

.bio-name1 img,
.bio-name2 img,
.bio-name3 img,
.bio-name4 img {
  max-width: 18vw
}

.bio-name2 p {
  font-family: Raleway, sans-serif
}

.bio-name3 p {
  font-family: Pacifico, cursive
}

.bio-name4 p {
  font-family: Anton, sans-serif
}

.bio-content {
  position: absolute;
  bottom: 12vh;
  left: 0;
  padding: 1em;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  z-index: 2;
  transition: opacity .3s;
  opacity: 0
}

.biography.expanded .plus-sign {
  margin-top: 0
}

.biography.expanded .bio-content {
  opacity: 1;
  display: block
}

.biography.expanded .bio-img img {
  max-width: 1000px
}

.minus-sign,
.plus-sign {
  position: absolute;
  bottom: 3%;
  left: 50%;
  z-index: 2
}

.minus-sign img,
.plus-sign img {
  width: 4vw
}

.biography.expanded .toggle-btn::after {
  content: "-";
  left: 50%
}

.biography.expanded .plus-sign img {
  transform: rotate(0)
}

.section-heading {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 4em
}

#categories.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 300px;
  margin-bottom: 6em
}

.category-buttons1,
.category-buttons2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1.5em
}

.category-buttons1 a,
.category-buttons2 a {
  margin: 0 auto
}

.category-buttons2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 1em
}

.categories,
.categories-buttons {
  display: flex;
  flex-direction: column;
  text-align: center
}

.categories {
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto
}

.categories-buttons {
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 100%
}

.categories-buttons h2 {
  margin-bottom: 1em;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2
}

.grid-211 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  max-width: 80%;
  margin: 0 auto;
  gap: 1.5em;
  padding-bottom: 10em
}

.call2action-buttons,
.call2action-grid1,
.call2action-grid3,
.grid-button {
  grid-template-columns: repeat(2, 1fr)
}

.box1-211 {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 4em
}

.grid-button {
  display: grid;
  align-items: center;
  gap: .5em;
  padding: 1em 0 0
}

.single-link {
  padding-top: 0
}

.first-radio,
.input-text,
.input-texth2,
.single-link2 {
  padding-top: .5em
}

.box1-211 p {
  padding-top: 2em
}

span {
  padding-left: 1em
}

.box1fr,
.box2fr {
  padding-top: 8em;
  padding-bottom: 0
}

.call2action-grid1 {
  display: grid;
  width: 80%;
  margin: 0 auto;
  gap: 1em;
  padding: 1em 0 3em
}

.call2action-grid2 {
  display: grid;
  width: 100%;
  margin: 0 auto
}

.call2action-grid3 {
  display: grid
}

.call2action-grid4 {
  display: grid;
  padding: 1em 0
}

.call2action-side2 {
  padding: 2em 0
}

.call2action-buttons {
  display: grid;
  width: 100%;
  padding: 1em 0
}

#article-form input,
#article-form label,
.form-inputs,
.home-btns2,
.privacy ol li,
.privacy-ul h3,
.works ol li,
.youtube-description p {
  padding: .5em 0
}

.category-btn {
  padding: .5em 1em
}

.box2-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-width: 80%;
  height: 90vh;
  margin: 0 auto;
  padding: 8em 0
}

.box2-2grid-video {
  display: flex;
  width: 100%;
  height: 100%
}

.box1-2grid {
  display: grid;
  grid-template-rows: 3;
  margin: auto 0;
  padding: 0 2em 3em 0
}

.box2-2grid iframe {
  width: 40vw;
  height: auto;
  margin: 0 auto
}

.join-section {
  width: 100vw;
  height: auto;
  background-image: url("https://res.cloudinary.com/dnptzisuf/image/upload/f_auto,fl_lossy,fl_attachment,q_auto,c_fill,w_1280/v1739375905/join-sports-tube_nwdnrl.avif");
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover
}

@media (min-width:1200px) {
  .join-section {
    background-image: url("https://res.cloudinary.com/dnptzisuf/image/upload/f_auto,fl_lossy,fl_attachment,q_auto,c_fill,w_1280/v1739375905/join-sports-tube_nwdnrl.avif")
  }
}

.join-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 6em;
  margin: 0 auto;
  max-width: 80%;
  background-color: translucent
}

.join-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto 0
}

.join-text h2,
.join-text p {
  color: #fff;
  margin: 0
}

.join-text p {
  font-size: 1.5rem
}

.bottom-nav h5,
.join-text-bottom p {
  color: #1a1d9e;
  margin: 0
}

.btn4 a {
  width: 12em
}

#collections-page,
#single-video-page {
  max-width: 80%;
  width: 100vw;
  padding: 2em;
  margin: 0 auto;
  height: auto
}

.hero-img-collection img {
  width: 100vw;
  height: 800px;
  object-position: center bottom
}

#single-video iframe,
.collections-box img,
.coming-soon-container {
  object-position: center
}

.section-title-collections {
  padding: 4em 0 0 1.5em
}

#collections-page {
  text-align: left;
  padding-bottom: 8em
}

.collections-box iframe {
  width: 100%;
  height: 17vw;
}

.collections-box img {
  width: 337px;
  height: 208px
}

.collections-text p {
  text-align: left;
  line-height: 1.6em
}

.collections-text {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  padding: 1em 0;
  max-width: 100%
}

#single-video-page {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 6em
}

.single-video-title {
  width: 100%;
  padding: 5em 0 1em;
  text-align: left
}

#collections-text,
.single-video-title h2 {
  width: 100%
}

.privacy-ul ul P,
.privacy-ul ul li,
.video-info {
  padding: 0
}

#single-video iframe {
  width: 100%;
  height: 65vh
}

.youtube-channel {
  display: flex;
  flex-direction: row;
  align-items: center
}

.footer-content,
footer {
  display: grid;
  width: 100%
}

.channel,
.channel-btn,
.youtube-channel img {
  padding: 1em .5em
}

.channel-icon img {
  width: 6vw;
  border-radius: 50%
}

.channel a h3 {
  position: relative;
  color: #1a1d9e
}

.channel a h3::after {
  position: absolute;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(255, 0, 0, .8), rgba(255, 150, 150, .6))
}

.youtube-description {
  width: 100%;
  padding: 1em
}

.youtube-description p a img {
  align-items: last baseline;
  width: 1.5vw
}

.youtube-description img {
  width: 1.5vw
}

.media-link2 a,
.media-link2 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 .5em
}

.media-link a {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: left
}

.media-link2 {
  padding: 2em 0 0
}

.media-link p {
  font-size: 1rem;
  padding-left: .5em
}

.media-link2 img {
  padding-right: .5em
}

.learn-more-contents {
  width: 80%;
  margin: 0 auto
}

.learn-more img {
  object-position: bottom
}

.page-title {
  margin: 0 auto;
  text-align: left
}

.page-title h1 {
  color: #000;
  font-size: 4rem;
  padding: 3em 0 1em
}

.lm-subheadings h2 {
  text-align: left;
  padding: 0
}

.lm-subheadings {
  text-align: left;
  padding: 3em 0 2em
}

.privacy-title {
  padding: 0 2em
}

.privacy h2 {
  font-size: 2rem;
  padding: 2em 0 .5em
}

.policy-section {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.policy-section h2 {
  border-bottom: 3px solid #0073e6;
  padding-bottom: 10px;
  color: #0073e6;
  font-size: 1.8rem
}

.policy-section h3 {
  color: #005bb5;
  font-size: 1.4rem;
  margin-top: 15px
}

.policy-section p {
  font-size: 1.1rem;
  margin: 10px 0
}

.policy-section ul {
  list-style: square;
  padding-left: 20px
}

.privacy-sct p {
  padding: .5em 0 1em
}

.learn-more-contents p,
.privacy ol li,
.works ol li {
  font-size: 1.2rem;
  line-height: 1.4
}

.privacy ul li,
.privacy ul p,
.works ul li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1em
}

.privacy ul li {
  list-style-type: circle
}

.intro-sct {
  padding: 0 0 .5em
}

.privacy ol,
.works ol {
  padding: 1em 2em
}

.privacy-ul {
  padding: 1em .5em .5em
}

.guidelines ul {
  padding: 0 1em
}

footer {
  position: relative;
  bottom: 0;
  border-top: .0625em solid #1a1d9e;
  padding-top: 6em;
  max-width: 100;
  max-height: 20vh
}

.footer-content {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  padding: 3em 10em 10em;
  border-bottom: .0625em solid #1a1d9e;
  justify-content: center;
  margin: 0 auto;
  gap: 3em
}

.form-inputs,
.form-sect {
  margin-bottom: 1.5em
}

.bottom-logo {
  display: flex;
  align-items: center;
  justify-content: left
}

.bottom-logo img {
  text-align: left;
  width: 320px;
  height: auto
}

.bottom-footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2em
}

.social-media {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  max-width: 100%;
  text-align: left;
  align-items: flex-start
}

.bottom-nav {
  display: flex;
  padding: 2em 0;
  align-items: center
}

.bottom-nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 3em
}

.bottom-nav ul li,
.footer-col ul li {
  list-style: none
}

.bottom-nav h4,
.bottom-nav ul li a {
  padding: 0 .5em
}

.footer-col-text {
  padding: 0;
  text-align: left
}

.join-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left
}

.input-text {
  display: flex;
  flex-direction: row;
  gap: .5em
}

.input-text input {
  padding: .5em;
  width: 20em
}

.join h4 {
  line-height: 1.4
}

.join input {
  font-size: .875rem;
  padding: .5em
}

.bottom-nav ul li a,
.footer-col h3,
.footer-col ul li a,
.join h4,
.join h5 {
  display: inline-block;
  padding: .5em 0;
  background-color: transparent;
  text-decoration: none;
  color: #1a1d9e;
  transition: color .3s, background-color .3s
}

.btn,
.submit-button,
button.btn5,
button.submit-button {
  background-color: #1a1d9e;
  color: #fff;
  transition: background-color .3s
}

.social-media img {
  width: 3.125em;
  padding: 0 .5em
}

.btn {
  font-size: 1.125rem;
  padding: .5em 1em;
  border-radius: .3125em;
  border: .1em solid #1a1d9e
}

#account-page,
#upload-page {
  padding: 3em 0;
  margin: 0 auto
}

#account-form,
form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #f2f7fa;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  border-radius: 8px;
  color: #1a1d9e
}

#account-form h2,
form h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  color: #1a1d9e
}

.form-inputs label,
.form-sect label {
  font-size: 1.2rem;
  margin-bottom: .5em
}

.form-inputs input,
.form-inputs textarea,
.form-sect input,
.form-sect select,
.form-sect textarea {
  width: 100%;
  padding: .75em;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  font-size: 1rem
}

textarea {
  resize: vertical;
  height: 100px
}

.submit-button,
button.btn5,
button.submit-button {
  width: 100%;
  padding: .75em;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer
}

.submit-button:hover,
button.btn5:hover,
button.submit-button:hover {
  background-color: #0bd6e2
}

.name {
  display: flex;
  flex-direction: row;
  gap: 1em
}

.descr,
.form-inputs {
  flex-direction: column;
  display: flex
}

.descr {
  width: 100%;
  border-radius: .2em
}

input,
select {
  background-color: #fff;
  border-color: #b0b0b0;
  padding: .4em;
  width: 100%;
  color: #1a1d9e
}

.radio-group input {
  width: 24px;
  height: 24px
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0
}

.comments textarea,
input::placeholder {
  font-size: 1rem;
  padding: .5em;
  color: #1a1d9e
}

.yes-newsletter {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-top: 1em
}

.yes-newsletter input[type=checkbox] {
  width: 1.2em;
  height: 1.2em
}

.form-submission h2 {
  text-align: center;
  padding-bottom: 1em
}

.form-buttons {
  display: flex;
  flex-direction: column
}

#article-form {
  border-radius: 1.5em;
  width: 100%
}

#article-form label {
  font-size: 1rem;
  color: #000
}

.form-question {
  padding: 1em 0 .5em
}

.yes-newsletter {
  display: flex;
  padding: .5em
}

.yes-newsletter input {
  width: 2.5%;
  margin-left: 1em
}

.suggested-reading-title {
  display: flex;
  padding: 0 .5em
}

.suggested-reading-list {
  display: flex;
  justify-content: left;
  padding: 0
}

.learn-more-ol ol,
.suggested-reading-list ul {
  padding: 0 2em;
  line-height: 1.5
}

.contact-section {
  padding: 3em 0;
  background-color: #e1e5e8
}

.contact-container {
  width: 75%;
  margin: 0 auto;
  text-align: center
}

.contact-container h2 {
  font-size: 2.5rem;
  color: #1a1d9e;
  margin-bottom: 1em
}

.contact-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5em
}

.contact-info p {
  font-size: 1.1rem;
  color: #1a1d9e;
  line-height: 1.5
}

.contact-form-container {
  width: 60%;
  margin: 2em auto 0;
  text-align: left
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: .75em;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  font-size: 1rem
}

@media (min-width:1025px) {
  .blog-hero img {
    height: 600px;
    margin-top: -60px;
  }
}

@media (max-width: 1024px) {
  .category-page {
    text-align: center;
    padding: 2em 0;
    max-width: 90%;
    margin: 4em auto;
  }

  .logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 300px;
    width: 60%;
    height: auto
  }

  .logo-container img {
    width: 60%;
  }

  .video-grid {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20em;
    max-width: 95%;
  }

  .video-week-container {
    padding-top: 1.5em;
    margin-top: -5em;
  }


}

@media (min-width: 768px) and (max-width: 1024px) {

  .bottom-footer-content,
  .footer-content,
  .hero-container,
  .youtube-channel {
    flex-direction: column;
    text-align: center
  }

  .nav-links {
    display: none !important
  }

  .menu-toggle {
    display: block !important
  }

  .sct-btn {
    width: 90%;
    max-width: 250px
  }

  .sct-btn.channel-btn {
    max-width: 280px
  }

  .blog-hero img {
    height: 320px;
    margin-top: -60px;
  }

  .youtube-channel {
    padding: 1em
  }

  .video-grid {
    padding: 0 .5rem
  }


  .hero-container {
    min-height: 30vh;
    height: 45vh;
    padding-left: 5%;
    position: relative;
    align-items: center;
    max-width: unset;
  }

  .hero img {
    height: 65vh;
    width: 100vw
  }

  .hero-container-collections {
    height: 45vh;
    top: 0;
    left: 0
  }

  .grid-211 {
    display: grid;
    grid-template-columns: 1fr
  }

  .icon img {
    width: 30px;
    height: auto
  }

  .thumbnail-container {
    flex-direction: column;
    display: flex
  }

  .video-box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto
  }

  .video-box iframe,
  .video-box img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9
  }

  .box2-2grid-video iframe,
  .box2-grid iframe {
    width: 100%;
    height: 100%
  }

  .thumbnail-container {
    min-height: 200px;
    margin-top: 0
  }

  .footer-content {
    display: flex;
    align-items: center;
    padding: 2em 1em;
  }

  .bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0 0
  }

  .input-text {
    justify-content: center;
    text-align: center;
  }

  .footer-col {
    width: 100%;
    padding: 1em 0
  }

  .footer-col ul {
    padding: 0
  }

  .footer-col ul li {
    display: block;
    padding: .5em 0
  }

  .bottom-nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em 0
  }

  .bottom-nav ul li {
    padding: .5em 0
  }

  .social-media {
    flex-direction: row;
    justify-content: center;
    padding: 1em 0
  }

  .social-media a {
    margin: 0 .5em
  }

  .join-section {
    background-size: cover;
    padding: 3em 1em
  }

  .join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
    max-width: 90%
  }

  .join-text {
    text-align: center;
    width: 100%
  }

  .join-text h2 {
    font-size: 2rem
  }

  .join-text p {
    font-size: 1.2rem
  }

  .article-video {
    max-width: 90%;
    padding: 2em .5em;
    margin: -12em 0 5em
  }

  .box2-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh
  }

  .box2-2grid-video {
    justify-content: center;
    align-items: center
  }

  .box2-grid iframe {
    max-height: 100%
  }

  .section-title-collections {
    padding: 2em 0 0 1.5em;
    font-size: 1.5rem
  }

  .video-grid-collections {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    height: auto;
    padding: 0 .5em;
    grid-template-columns: repeat(2, 1fr)
  }

  #collections-page {
    text-align: left;
    padding-bottom: 2em
  }

  .collections-box {
    padding: 2em 0
  }

  .collections-box iframe {
    height: 30vw
  }

  .article-title h1,
  .privacy-page h1 {
    padding: 1.5em 0 .5em;
    font-size: 2.5rem
  }

  .call2action {
    margin-top: 5em
  }

  #sports-your-way,
  .grid-211 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .grid-211 {
    flex-direction: column;
    width: 90%;
    gap: 1em;
    padding-bottom: 5em;
    min-height: 150px
  }

  .box1-211 {
    display: flex;
    flex-direction: column;
    padding: .5em
  }

  .box1-211 img {
    width: 8vw;
    height: auto;
  }

  #sports-your-way {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 1em
  }

  .sports-content {
    width: 100%;
    max-width: 800px;
    margin-bottom: 1.5em
  }

  .sports-content h2 {
    font-size: 1.8rem;
    margin-bottom: .8em
  }

  .sports-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 100%
  }

  .sports-box {
    width: 90%;
    max-width: 500px;
    padding: 1.5em;
    border-radius: 8px;
    text-align: center
  }

  .sports-box .cta-btn {
    width: 100%;
    max-width: 300px;
    padding: .75em 1.5em;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin: 1em auto
  }

  .hero-btn {
    margin-top: -2em;
  }

  .page-heading {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    min-height: 100px;
    transform: translateY(-10%);
    width: 80%;
  }

  .page-heading h1,
  .page-heading p {
    color: #fff;
  }

  .page-heading h1 {
    font-size: 2.5rem;
    margin-top: 1em;
  }

  .page-heading p {
    font-size: 1.5rem;
  }

  .video-week-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vw;
    height: auto;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {

  .button-padding,
  .nav-menu li,
  nav {
    padding: .5em
  }

  .nav-links,
  .nav-menu {
    flex-direction: column;
    background-color: #1a1d9e;
    position: absolute;
    top: 60px;
    right: 0
  }

  .bio-content p,
  .biography,
  .box1-header,
  .box2-grid p,
  .hero-container,
  .youtube-channel {
    text-align: center
  }

  .join-section {
    height: auto
  }

  body,
  html {
    max-width: 100vw;
    overflow-x: hidden
  }

  main,
  nav ul li {
    padding: 0
  }

  h2 {
    font-size: 2rem
  }

  h3 {
    font-size: 1.1rem
  }

  .link a {
    display: block;
    margin-bottom: 1em
  }

  .nav-menu {
    width: 100vw
  }

  .nav-menu li a {
    color: #f2f7fa;
    font-size: 1rem
  }

  nav.scrolled {
    background-color: #fe0000
  }

  .nav-links.active,
  .nav-menu.active {
    display: flex
  }

  .sub-heading {
    width: 40vw
  }

  nav {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap
  }

  .nav-links {
    display: none;
    width: 100%;
    z-index: 9999
  }

  .footer-content,
  .video-week-container {
    flex-direction: column
  }

  .bio-img,
  .biography,
  .hero-container {
    position: relative
  }

  .search-container {
    width: 25vw;
    padding: .5em 0
  }

  .search-container input {
    border-radius: 1em
  }

  .hero-container-collections {
    height: 45vh
  }

  #collections-page,
  .call2action-side2,
  .category-article {
    padding: 2em 0
  }

  .page-title h1 {
    padding: 0;
    width: 100%
  }

  .lm-subheadings {
    width: 100%;
    padding: 1em 0
  }

  .channel-icon img,
  .toggle-btn {
    width: 50px;
    height: 50px
  }

  .bio-img,
  .social-media {
    justify-content: center
  }

  .youtube-description {
    font-size: .95rem;
    padding: 1em
  }

  #single-video {
    max-width: 100%
  }

  .video-week-container {
    display: flex;
    max-width: 100vw;
    width: 100vw;
    margin: 0 auto
  }

  .footer-col ul,
  .social-media,
  .thumbnail-container {
    flex-direction: column;
    display: flex
  }

  .thumbnail-container {
    min-height: 200px;
    margin-top: 0
  }

  .thumbnail-container {
    padding: 5em 0
  }

  .bio-img img,
  .box2-2grid-video .youtube-facade[data-video-id="9n0T6cQ7zbM"] img {
    width: 100%;
    height: auto;
    object-fit: cover
  }

  .youtube-channel {
    flex-direction: column;
    padding: 1em
  }

  .bottom-nav ul li,
  .channel-info,
  .footer-col ul li {
    margin: .5em 0
  }

  .box1-header,
  .box2-grid,
  .box2-grid p,
  .inner-box2-grid,
  .sct-btn {
    margin: 0 auto
  }

  .sct-btn {
    width: 90%;
    max-width: 250px
  }

  #account-form,
  .box2-2grid,
  form {
    width: 100%
  }

  .grid-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding: 0
  }

  .box2-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    height: 70vh;
    padding: 4em 0
  }

  .category-buttons1,
  .category-buttons2 {
    max-width: 80%;
    flex-direction: column;
    gap: .5em;
    padding-left: 0
  }

  .category-buttons1 a,
  .category-buttons2 a {
    width: 10em;
    text-align: center
  }

  .category-box-text,
  .category-buttons2 {
    padding: .5em 0 1em;
    max-width: 100%
  }

  .category-box-text h3,
  .category-buttons2 {
    font-size: .625rem
  }

  .box1-header {
    font-size: 1rem;
    max-width: 90%;
    padding: 0 .5em
  }

  .box2-grid p {
    font-size: .8rem;
    max-width: 75%
  }

  .inner-box {
    padding: 0 1em
  }

  .sct-btn {
    padding-top: 1em;
    align-items: center
  }

  .link {
    padding: 3em 0 0;
    align-items: center;
    width: 100%;
    font-size: 1em
  }

  .box2-2grid-video {
    margin: -2em auto 0;
    display: flex;
    max-width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 20%) 0 0 10px 4px;
    padding: 0
  }

  .box2-2grid-video iframe {
    width: 100%;
    height: auto;
    margin: 0
  }

  .call2action-grid1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4em 0;
    margin: 5em auto
  }

  .call2action-grid2,
  .call2action-grid4 {
    display: flex;
    flex-direction: column
  }

  .call2action-grid3 {
    display: flex;
    flex-direction: row;
    gap: 1em
  }

  .call2action-side1 {
    padding: 1em 0
  }

  .call2action-buttons {
    display: flex;
    flex-direction: column;
    padding: 0
  }

  .article-list,
  .home-btns2 {
    padding: .5em 0
  }

  .section-heading {
    padding: 1em;
  }

  .section-heading h2 {
    padding: -3em 1em 0;
    font-size: 3rem;
  }

  .section-heading p {
    padding: .5em 1em 0
  }

  #player-biography {
    margin: 0 auto;
    width: 100%
  }

  .biography-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2em 0 0
  }

  .biography {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    flex: 1;
    transition: flex .3s;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .bio-img {
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden
  }

  .bio-content {
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
    transition: height .3s, opacity .3s;
    font-size: .625rem;
    padding: .5 1em;
    max-width: 100%;
    max-height: 25vh
  }

  .biography.expanded .bio-content {
    opacity: 1;
    height: 0
  }

  .biography.expanded .bio-img img {
    height: 90vh;
    max-height: 55vh
  }

  .bio-content p {
    padding: 1em 0 0;
    margin: 0 auto;
    line-height: 1.6;
    max-width: 90%;
    font-size: 1.3rem
  }

  .plus-sign {
    display: flex;
    justify-content: center;
    margin-top: .5em
  }

  .bio-name img {
    max-width: 80%;
    height: auto
  }

  #bio1 {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 0
  }

  #bio4 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em
  }

  .biography.expanded .plus-sign {
    margin-top: 0
  }

  .minus-sign,
  .plus-sign {
    position: absolute;
    bottom: 15%;
    left: 5%;
    transform: translateX(-50%);
    z-index: 4
  }

  .minus-sign img,
  .plus-sign img {
    width: 4vw
  }

  .bio-name {
    bottom: 13%;
    left: 35%
  }

  .bio-name1 img,
  .bio-name2 img,
  .bio-name3 img,
  .bio-name4 img {
    max-width: 40vw
  }

  .icon img {
    max-width: 15vw
  }

  .youtube-facade-all {
    max-width: 100%;
    aspect-ratio: 16/9
  }

  .article {
    max-width: 90%;
    padding: 2em .5em;
    margin: 0 auto
  }

  .article-list,
  .article-page {
    border-radius: 1.5em
  }

  .article-page {
    width: 100%;
    padding: 1em
  }

  .article-list-grid {
    display: grid;
    grid-template-columns: .5fr 3fr;
    width: 90%;
    margin: 1.5em auto;
    border-radius: 2em
  }

  .footer-col,
  .footer-content {
    text-align: center;
    display: flex;
    flex-direction: column
  }

  .article-title h1,
  .privacy-page h1 {
    padding: 1.5em 0 .5em;
    font-size: 2rem
  }

  .article-text {
    padding: 2em 0 1em;
    line-height: 1.4
  }

  .article-text p {
    padding: .3em 0;
    line-height: 1.6
  }

  .article-text ul {
    text-decoration: none;
    list-style-type: disc
  }

  .article-text h3 {
    padding: 2% 0 0
  }

  #single-video iframe {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center
  }

  .logo-container {
    padding: 0;
    margin-left: 0
  }

  .join-section {
    max-width: 100vw
  }

  .join-container {
    height: 50vh;
    padding: 1em
  }

  footer {
    padding-top: 2em
  }

  .footer-content {
    align-items: center;
    padding: 1em 0;
    gap: .5em
  }

  .footer-col {
    width: 100%;
    padding: .5em 0
  }

  .footer-col h4 {
    font-size: 1.2rem
  }

  .input-text input::placeholder {
    padding: 0
  }

  .footer-col ul {
    justify-content: space-around;
    margin: 0;
    list-style-type: none
  }

  .footer-col ul li a {
    text-decoration: none;
    color: #1a1d9e;
    font-size: 1rem
  }

  .bottom-nav ul {
    flex-direction: row;
    max-width: 90%
  }

  .social-media {
    align-items: center
  }

  .social-media a {
    margin-bottom: 1em
  }

  .social-media img {
    width: 2em;
    padding: .5em
  }

  .bottom-footer-content {
    flex-direction: column;
    align-items: center;
    padding: 1em 0
  }

  .bottom-nav {
    flex-direction: column;
    align-items: stretch
  }

  .bottom-nav ul {
    flex-direction: row;
    align-items: center;
  }

  .bottom-nav ul li a {
    font-size: 1.2em
  }

  .sports-grid {
    flex-direction: column;
    align-items: center;
    gap: 1em
  }

  .sports-box {
    width: 90%;
    max-width: 450px;
    padding: 1em
  }

  .sports-content h2 {
    font-size: 1.5rem
  }

  .sports-box .cta-btn {
    font-size: .9rem;
    padding: .5em 1em;
    max-width: 250px
  }

  .video-grid {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 95%;
  }

  .call2action {
    margin-top: 5em;
  }

  .call2action-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .collections-box iframe {
    height: 30vw
  }

  #sports,
  .article-video {
    max-width: 90%
  }

  .box1-211,
  .footer-col,
  .footer-col ul,
  .grid-211,
  .grid-button {
    flex-direction: column;
    display: flex
  }

  .section-title {
    position: relative;
    z-index: 20;
    background-color: #e1e5e8;
    padding: 1rem 0;
    margin: -6em 0 2em
  }

  .thumbnail-container {
    margin-bottom: 5em
  }

  .section-heading h2 {
    padding: 1em 1em 0
  }

  #sports {
    margin: 1em auto 0
  }

  .sports-your-way {
    width: 90%;
    margin: 0 auto;
    padding: 0
  }

  .grid-211 {
    padding-bottom: 5em
  }

  .box1-211 {
    padding: .5em;
    margin: 0 auto;
    width: 90%
  }

  .footer-content {
    width: 90%
  }

  .grid-button {
    padding-top: 1.5em
  }

  .sct-btn {
    padding: 0;
    text-align: left;
    align-items: start;
    justify-content: left
  }

  .sports-box,
  .youtube-channel {
    padding: 1em
  }

  .video-box {
    margin: 1em 0;
    height: 90%;
    width: auto
  }

  .channel-info p img {
    width: 40px;
    height: 40px
  }

  .channel-icon img {
    width: 50px;
    height: 50px
  }

  .sct-btn {
    width: 100%;
    max-width: 250px
  }

  .youtube-description {
    font-size: .85rem;
    text-align: center
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .sports-box {
    width: 100%;
    max-width: 400px
  }

  .sports-box .cta-btn {
    width: 100%;
    padding: .5em;
    font-size: .85rem
  }

  .blog-hero img {
    object-fit: cover;
    width: 100vw;
    height: 35vh;
    min-height: 250px;
    margin-top: -60px;
  }

  .video-grid {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20em;
    max-width: 95%;
  }

  .hero-container-collections {
    height: 45vh;
    top: 0;
    left: 0
  }

  .page-heading {
    transform: translateY(-10%);
    width: 90%;
    padding-top: 0;
  }

  .hero-container,
  .hero-img,
  .hero,
  .hero img {
    height: 35vh !important;
    min-height: 35vh !important;
    max-height: 35vh !important;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .page-heading h1,
  .page-heading p {
    color: #fff;
    width: 100%;
  }

  .page-heading h1 {
    font-size: 1.2rem;
    padding-bottom: 1em;
    margin-top: -13em;
  }

  .page-heading p {
    font-size: .995rem;
    line-height: 1.5;
    padding-bottom: 1em;
    width: 100%;
  }

  .hero-btn {
    margin-top: -1em;
  }

  .video-week-container {
    display: flex;
    position: relative;
    padding-top: 20rem;
    margin-top: 0;
  }

  .call2action-container {
    max-width: 95%;
    margin-top: 6em;
  }
}


@keyframes wobble {

  0%,
  100% {
    transform: translate(0)
  }

  15%,
  45%,
  75% {
    transform: translate(-5px, 0)
  }

  30%,
  60% {
    transform: translate(5px, 0)
  }
}

.category-buttons1 a:hover,
.category-buttons2 a:hover {
  animation: .6s forwards wobble
}